/* line 1, layout/header.css.scss */
.l-site-header {
  padding: 50px 0;
  text-align: center; }

/* line 6, layout/header.css.scss */
.made-by-many-logo {
  width: 180px;
  display: block;
  height: 31px;
  background: url(/images/mxm-logo-black.png) no-repeat; }
