@import "http://fonts.googleapis.com/css?family=Open+Sans:400,600,700";
/* line 10, base/default.css.scss */
html,
button,
input,
select,
textarea {
  color: #222; }

/* line 14, base/default.css.scss */
body {
  background: whiteSmoke;
  font-size: 1em;
  line-height: 1.4; }

/* line 20, base/default.css.scss */
::-moz-selection {
  background: #FFF0A0;
  text-shadow: none; }

/* line 25, base/default.css.scss */
::selection {
  background: #FFF0A0;
  text-shadow: none; }

/* line 30, base/default.css.scss */
img {
  vertical-align: middle; }

/* line 34, base/default.css.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 40, base/default.css.scss */
textarea {
  resize: vertical; }

/* line 46, base/default.css.scss */
a,
a:hover,
a:focus {
  color: #222; }

/* line 50, base/default.css.scss */
a:hover {
  text-decoration: underline; }

/* line 8, base/grid.css.scss */
.l-sixteen-columns,
.l-twelve-columns,
.l-column {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 18, base/grid.css.scss */
.l-sixteen-columns:after,
.l-twelve-columns:after,
.l-column:after {
  content: "";
  display: table;
  clear: both; }

/* line 24, base/grid.css.scss */
.l-column {
  float: left;
  padding: .5em; }

/* line 29, base/grid.css.scss */
.no-gutter {
  padding: 0 !important; }

/*
16x column sizes
================
 1. 6.25%
 2. 12.5%
 3. 18.75%
 4. 25%
 5. 31.25%
 6. 37.5%
 7. 43.75%
 8. 50%
 9. 56.25%
10. 62.5%
11. 68.75%
12. 75%
13. 81.25%
14. 87.5%
15. 93.75%
16. 100%
*/
/* line 55, base/grid.css.scss */
.l-sixteen-columns .l-column {
  width: 6.25%; }

/* line 58, base/grid.css.scss */
.l-sixteen-columns .l-span-two {
  width: 12.5%; }

/* line 60, base/grid.css.scss */
.l-sixteen-columns .l-span-three {
  width: 18.75%; }

/* line 62, base/grid.css.scss */
.l-sixteen-columns .l-span-four {
  width: 25%; }

/* line 64, base/grid.css.scss */
.l-sixteen-columns .l-span-five {
  width: 31.25%; }

/* line 66, base/grid.css.scss */
.l-sixteen-columns .l-span-six {
  width: 37.5%; }

/* line 68, base/grid.css.scss */
.l-sixteen-columns .l-span-seven {
  width: 43.75%; }

/* line 70, base/grid.css.scss */
.l-sixteen-columns .l-span-eight {
  width: 50%; }

/* line 72, base/grid.css.scss */
.l-sixteen-columns .l-span-nine {
  width: 56.25%; }

/* line 74, base/grid.css.scss */
.l-sixteen-columns .l-span-ten {
  width: 62.5%; }

/* line 76, base/grid.css.scss */
.l-sixteen-columns .l-span-eleven {
  width: 68.75%; }

/* line 78, base/grid.css.scss */
.l-sixteen-columns .l-span-twelve {
  width: 75%; }

/* line 80, base/grid.css.scss */
.l-sixteen-columns .l-span-thirteen {
  width: 81.25%; }

/* line 82, base/grid.css.scss */
.l-sixteen-columns .l-span-fourteen {
  width: 87.5%; }

/* line 84, base/grid.css.scss */
.l-sixteen-columns .l-span-fifteen {
  width: 93.75%; }

/* line 86, base/grid.css.scss */
.l-sixteen-columns .l-span-sixteen {
  width: 100%; }

/*
12x column sizes
================
 1. 8.333333333333334%
 2. 16.666666666666668%
 3. 25%
 4. 33.333333333333336%
 5. 41.66666666666667%
 6. 50%
 7. 58.333333333333336%
 8. 66.66666666666667%
 9. 75%
10. 83.33333333333334%
11. 91.66666666666667%
12. 100%
*/
/* line 107, base/grid.css.scss */
.l-twelve-columns .l-column {
  width: 8.333333333333334%; }

/* line 110, base/grid.css.scss */
.l-twelve-columns .l-span-two {
  width: 16.666666666666668%; }

/* line 112, base/grid.css.scss */
.l-twelve-columns .l-span-three {
  width: 25%; }

/* line 114, base/grid.css.scss */
.l-twelve-columns .l-span-four {
  width: 33.333333333333336%; }

/* line 116, base/grid.css.scss */
.l-twelve-columns .l-span-five {
  width: 41.66666666666667%; }

/* line 118, base/grid.css.scss */
.l-twelve-columns .l-span-six {
  width: 50%; }

/* line 120, base/grid.css.scss */
.l-twelve-columns .l-span-seven {
  width: 58.333333333333336%; }

/* line 122, base/grid.css.scss */
.l-twelve-columns .l-span-eight {
  width: 66.66666666666667%; }

/* line 124, base/grid.css.scss */
.l-twelve-columns .l-span-nine {
  width: 75%; }

/* line 126, base/grid.css.scss */
.l-twelve-columns .l-span-ten {
  width: 83.33333333333334%; }

/* line 128, base/grid.css.scss */
.l-twelve-columns .l-span-eleven {
  width: 91.66666666666667%; }

/* line 130, base/grid.css.scss */
.l-twelve-columns .l-span-twelve {
  width: 100%; }

/* line 5, base/typography.css.scss */
html, body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased; }

/* line 14, base/typography.css.scss */
h1, h2, h3, h4, h5, h6,
.h-headline, .h-subheadline, .h-byline,
.h-standfirst, .h-related, .h-promo {
  line-height: 1.25;
  margin-bottom: 0.25em; }

/* line 19, base/typography.css.scss */
h1, .h-headline {
  font-size: 3em; }

/* line 20, base/typography.css.scss */
h2, .h-subheadline {
  font-size: 2.3em; }

/* line 21, base/typography.css.scss */
h3, .h-byline {
  font-size: 2.1em; }

/* line 22, base/typography.css.scss */
h4, .h-standfirst {
  font-size: 1.8em; }

/* line 23, base/typography.css.scss */
h5, .h-related {
  font-size: 1.3em; }

/* line 24, base/typography.css.scss */
h6, .h-promo {
  font-size: 1.1em; }

/* line 26, base/typography.css.scss */
p {
  font-size: 1em;
  line-height: 1.4;
  margin-bottom: 0.25em; }

/* line 32, base/typography.css.scss */
p:last-child {
  margin-bottom: 0; }

@media (max-width: 30em) {
  /* line 37, base/typography.css.scss */
  body {
    font-size: 0.9em; } }
/* line 10, base/lists.css.scss */
.unstyled-list,
.inline-list,
.float-list,
.unstyled-list li,
.inline-list li,
.float-list li {
  margin: 0;
  padding: 0; }

/* line 14, base/lists.css.scss */
.unstyled-list li {
  list-style: none; }

/* line 18, base/lists.css.scss */
.inline-list li {
  display: inline-block; }

/* line 22, base/lists.css.scss */
.float-list li {
  display: block;
  float: left; }

/* line 6, base/helpers.css.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* line 13, base/helpers.css.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

/* line 21, base/helpers.css.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/* line 28, base/helpers.css.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 40, base/helpers.css.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* line 50, base/helpers.css.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

/* line 55, base/helpers.css.scss */
.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 64, base/helpers.css.scss */
.clearfix {
  *zoom: 1; }

/* line 69, base/helpers.css.scss */
.l-media {
  margin: 1.6em; }

/* line 72, base/helpers.css.scss */
.l-media,
.l-media-body {
  overflow: hidden;
  _overflow: visible;
  zoom: 1; }

/* line 74, base/helpers.css.scss */
.l-media-img {
  float: left;
  margin-right: 1.6em; }

/* line 75, base/helpers.css.scss */
.l-media-img-right {
  float: right;
  margin-left: 1.6em; }

/* line 77, base/helpers.css.scss */
.l-media-img img {
  display: block; }

/* line 80, base/helpers.css.scss */
.l-sixteen-by-nine {
  padding-top: 56.25%;
  /* 16:9 */
  height: 0;
  position: relative;
  width: 100%; }

/* line 88, base/helpers.css.scss */
.l-sixteen-by-nine iframe,
.l-sixteen-by-nine video {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute; }

/* line 1, layout/container.css.scss */
.l-site-container {
  max-width: 600px;
  margin: 0pt auto;
  padding: 4%; }

/* line 1, layout/header.css.scss */
.l-site-header {
  padding: 50px 0;
  text-align: center; }

/* line 6, layout/header.css.scss */
.made-by-many-logo {
  width: 180px;
  display: block;
  height: 31px;
  background: url(/images/mxm-logo-black.png) no-repeat; }

/* line 1, layout/footer.css.scss */
.l-site-footer {
  margin: 100px 0 0 0; }

/* line 5, layout/footer.css.scss */
.l-site-footer .inline-list li {
  margin-right: 10px; }

/* line 1, layout/gists.css.scss */
.gist {
  margin: 30px 0 0 0;
  font-size: 0.8em; }

/* line 1, modules/buttons.css.scss */
.button {
  display: inline-block;
  border: 2px solid #3ebeb3;
  color: #3EBEB3;
  padding: 20px 30px;
  margin: 45px 0 25px 0;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  font-weight: 700; }

/* line 14, modules/buttons.css.scss */
.button:hover {
  background: #3EBEB3;
  color: #fff;
  text-decoration: none; }

/* line 1, modules/projects-list.css.scss */
.projects-list {
  margin: 100px 0 0 0; }

/* line 5, modules/projects-list.css.scss */
.projects-list .project {
  font-size: 1.3em;
  margin: 0 0 15px 0;
  overflow: hidden; }

/* line 11, modules/projects-list.css.scss */
.project-link {
  display: block;
  float: left;
  width: 85%;
  text-decoration: none; }

/* line 18, modules/projects-list.css.scss */
.project-icon {
  display: block;
  float: left;
  width: 38px;
  height: 38px;
  line-height: 36px;
  text-align: center;
  margin: 0 10px 0 0;
  font-style: normal;
  background: #70C5EE;
  color: #fff; }

/* line 30, modules/projects-list.css.scss */
.project-icon--ruby {
  background-color: #cf3b43; }
