//-----------------------------------------
// Simple CSS Grid
// https://github.com/callum-/flynn
//-----------------------------------------

.l-sixteen-columns,
.l-twelve-columns,
.l-column {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.l-sixteen-columns:after,
.l-twelve-columns:after,
.l-column:after {
    content: "";
    display: table;
    clear: both;
}

.l-column {
    float: left;
    padding: .5em;
}

.no-gutter {
    padding: 0 !important;
}


/*
16x column sizes
================
 1. 6.25%
 2. 12.5%
 3. 18.75%
 4. 25%
 5. 31.25%
 6. 37.5%
 7. 43.75%
 8. 50%
 9. 56.25%
10. 62.5%
11. 68.75%
12. 75%
13. 81.25%
14. 87.5%
15. 93.75%
16. 100%
*/

.l-sixteen-columns .l-column {
    width: 6.25%;}

.l-sixteen-columns .l-span-two {
    width: 12.5%;}
.l-sixteen-columns .l-span-three {
    width: 18.75%;}
.l-sixteen-columns .l-span-four {
    width: 25%;}
.l-sixteen-columns .l-span-five {
    width: 31.25%;}
.l-sixteen-columns .l-span-six {
    width: 37.5%;}
.l-sixteen-columns .l-span-seven {
    width: 43.75%;}
.l-sixteen-columns .l-span-eight {
    width: 50%;}
.l-sixteen-columns .l-span-nine {
    width: 56.25%;}
.l-sixteen-columns .l-span-ten {
    width: 62.5%;}
.l-sixteen-columns .l-span-eleven {
    width: 68.75%;}
.l-sixteen-columns .l-span-twelve {
    width: 75%;}
.l-sixteen-columns .l-span-thirteen {
    width: 81.25%;}
.l-sixteen-columns .l-span-fourteen {
    width: 87.5%;}
.l-sixteen-columns .l-span-fifteen {
    width: 93.75%;}
.l-sixteen-columns .l-span-sixteen {
    width: 100%;}


/*
12x column sizes
================
 1. 8.333333333333334%
 2. 16.666666666666668%
 3. 25%
 4. 33.333333333333336%
 5. 41.66666666666667%
 6. 50%
 7. 58.333333333333336%
 8. 66.66666666666667%
 9. 75%
10. 83.33333333333334%
11. 91.66666666666667%
12. 100%
*/

.l-twelve-columns .l-column {
    width: 8.333333333333334%;}

.l-twelve-columns .l-span-two {
    width: 16.666666666666668%;}
.l-twelve-columns .l-span-three {
    width: 25%;}
.l-twelve-columns .l-span-four {
    width: 33.333333333333336%;}
.l-twelve-columns .l-span-five {
    width: 41.66666666666667%;}
.l-twelve-columns .l-span-six {
    width: 50%;}
.l-twelve-columns .l-span-seven {
    width: 58.333333333333336%;}
.l-twelve-columns .l-span-eight {
    width: 66.66666666666667%;}
.l-twelve-columns .l-span-nine {
    width: 75%;}
.l-twelve-columns .l-span-ten {
    width: 83.33333333333334%;}
.l-twelve-columns .l-span-eleven {
    width: 91.66666666666667%;}
.l-twelve-columns .l-span-twelve {
    width: 100%;}