<p class="h-subheadline">All of our <strong>open source projects</strong>.</p>


<ul class="unstyled-list projects-list">

  <li class="project project--big-bird">
    <i class="project-icon project-icon--js">JS</i>

    <a href="/bigbird.html" class="project-link">
      <strong>Big Bird</strong> is a simple JS framework for when you don't need MVC.
    </a>
  </li>

  <li class="project project--sir-trevor">
    <i class="project-icon project-icon--js">JS</i>

    <a href="https://github.com/madebymany/sir-trevor-js" class="project-link">
      <strong>Sir Trevor</strong> gives you an elegant way to publish content.
    </a>
  </li>

  <li class="project project--conan">
    <i class="project-icon project-icon--ruby">R</i>
    
    <a href="https://github.com/madebymany/conan" class="project-link">
      <strong>Conan</strong> glues together Capistrano &amp; Chef for provisioning and deployment.
    </a>
  </li>

</ul>

